@cor : blue;
@cor2: green;
@cor3: rgb(225, 225, 198);
@width : 0.75;

.drop-shadow {
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
}

h1 {
    color: @cor;
}

p {
    color: if(iscolor(@cor), @cor, red);
    width: percentage(@width);
    b {
        color: @cor3;
        background-color: @cor2;
    }
}