<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/styles.less"/>
    <title>Less</title>
</head>
<body>
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, veniam perspiciatis, eaque omnis inventore rem laboriosam ab labore numquam, quasi quo explicabo cum consequuntur eos? Quaerat molestiae nisi quia voluptates!</p>
    
    <a href="/historia">Historia</a>

    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
</body>
</html>