@import 'base', 'formatacaotxt';

$cor: lightblue;
$cor2 : light + grey;
$background: black;
$tamanho : 17;

@mixin fundoP($color){
    background-color: $color;
}
div {
    p {
        @include fundoP($background);
        b {
            color: rgb(0, 255, 64)
        }
    }
}

body {
    @include fundoP($background);
    @if ($background == black){
        color: #{$cor2};
    } @else {
        color: darkblue;
        background-color: lightskyblue;
    }
    margin: 10%*2;
}