$cor: lightblue;
$cor2 : lightgrey;
$background: black;

@mixin fundoP($color){
    background-color: $color;
}

body {
    @include fundoP($background);
    color: $cor2;
    margin: 80px;
}

.sombra {
    text-shadow: 2px 1px 1px #ccc;
    text-decoration: underline;
    color: $cor;
}

h1 {
    color: $cor;
}

p {
    color: $cor;
    b {
        color: rgb(0, 255, 64)
    }
}