@import 'base', 'formatacaotxt';

$cor: lightblue;
$cor2 : 'light' + grey;
$background: black;
$tamanho : 17;

@mixin fundoP($color){
    background-color: $color;
}
div {
    p {
        @include fundoP($background);
        b {
            color: rgb(0, 255, 64)
        }
    }
}

body {
    @include fundoP($background);
    @if ($background == black){
        color: #{$cor2};
        font-size: #{$tamanho+px};
    } @else {
        color: darkblue;
        background-color: lightskyblue;
    }
    margin: 10%*2;
}

$corDiv : red;
$size : 12px;

@for $i from 1 through 3 {
    $nome : '#div-' + $i;
        #{$nome} {
            font-size: $size + ($i*4);
            color: white;
            background-color: lighten($corDiv, $i * 15%);
        }
}